[Unit]
Description=PID fan controller
After=lm_sensors.service
Requires=lm_sensors.service
After=multi-user.target

[Service]
Type=simple
ExecStart=pid_fan_controller --run-fan-control
ExecStopPost=pid_fan_controller --reset-fan-modes

[Install]
WantedBy=multi-user.target

# vi:ft=systemd
